<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/src/components/css/reset.css">
    <link rel="stylesheet" href="/project/src/components/css/app.css">
    <title>Mój-dom</title>
</head>

<body>
    <header>
        <nav>
            <ul id="nav-list" class="nav-list">
                <li><a href="#" class="li-a"><img src="/project/src/assets/icons/logo.webp" alt=""></a></li>
                <li><a href="/project/src/components/app.html" class="a-li">Materiale</a></li>
                <li><a href="/project/src/components/main.html" class="a-li">Interior</a></li>
                <li><a href="/index.html" class="a-li">Despre companie</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="main-div">
            <section>
                <article class="article_num_one">
                    <img src="/project/src/assets/img/покраска.webp" alt="">
                </article>
                <article class="article_num_two">
                    <h1>Materiale pentru reparații:</h1>
                    <p>
                        Chit de reparare, adeziv pentru plăci, vopsea, tencuială, bandă de etanșare, silicon, materiale
                        structurale. Alegere importantă pentru durabilitate.
                    </p>
                </article>
            </section>
        </div>
        <div id="material">
            <div class="repair-materials">
                <h2>Materiale pentru reparații</h2>
                <ul>
                    <li style="--i: 0"><strong>Ciocan:</strong><br><span>Util pentru bătut cuie, preț accesibil.</span></li>
                    <li style="--i: 1"><strong>Șurubelniță:</strong><br><span>Ideală pentru montarea șuruburilor.</span></li>
                    <li style="--i: 2"><strong>Cleste:</strong><br><span>Util pentru tăiere și îndoire, preț mic.</span></li>
                    <li style="--i: 3"><strong>Nivelă:</strong><br><span>Asigură alinierea corectă, preț mediu.</span></li>
                    <li style="--i: 4"><strong>Fierăstrău:</strong><br><span>Pentru tăierea lemnului, cost variabil.</span></li>
                    <li style="--i: 5"><strong>Șpaclu:</strong><br><span>Ideal pentru aplicarea adezivului, preț mic.</span></li>
                    <li style="--i: 6"><strong>Bormașină:</strong><br><span>Necesară pentru găurirea materialelor, cost ridicat.</span></li>
                </ul>
                <button>Adaugă în coș</button>
            </div>
        </div>        
        <div id="list">
            <ul>
                <li><img src="/project/src/assets/img/ремонт.webp" alt="">
                    <h3>Plăci standard</h3>
                    <p>Preț accesibil, calitate de bază.</p>
                </li>
                <li><img src="/project/src/assets/img/ремонт.webp" alt="">
                    <h3>Plăci premium</h3>
                    <p>Preț mediu, calitate superioară garantată.</p>
                </li>
                <li><img src="/project/src/assets/img/ремонт.webp" alt="">
                    <h3>Plăci de lux</h3>
                    <p>Preț ridicat, calitate excelentă.</p>
                </li>
            </ul>
        </div>
        <div class="div-img">
            <ul class="ul-img2">
                <li>
                    <img src="/project/src/assets/img/ремонт.webp" class="ul-li2-img1" alt="">
                </li>
                <li>
                    <img src="/project/src/assets/img/робота.webp" class="ul-li2-img2" alt="">
                </li>
            </ul>
            <ul class="ul-img1">
                <li><img src="/project/src/assets/img/покраска.webp" alt=""></li>
            </ul>
        </div>
        <div class="lesson-wrapper">
            <section class="headline">
                <h3 class="headline-text">Instrucțiuni de bază:</h3>
                <p class="headline-p">
                    Pregătiți suprafața - Asigurați-vă că substratul este curat și uscat.
                    Aplicarea adezivului - Folosiți un spaclu pentru a aplica adezivul uniform pe suprafața
                    substratului.
                    Montarea plăcilor - Așezați plăcile conform designului dorit și apăsați ușor pentru a le fixa.
                    Îndepărtarea excesului de adeziv - Curățați imediat excesul de adeziv înainte ca acesta să se usuce.
                    Aplicarea rosturilor - După ce adezivul s-a uscat complet, aplicați materialul pentru rosturi și
                    ștergeți excesul.</p>
            </section>
            <img src="/project/src/assets/img/ремонт.webp" class="img" alt="">
        </div>
    </main>
    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
            <path
                d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1.36 1.36 0 011.45-.32c1.58.63 3.32.97 5.14.97.75 0 1.36.61 1.36 1.36V21.5c0 .75-.61 1.36-1.36 1.36C10.65 22.86 1.14 13.35 1.14 1.86 1.14 1.11 1.75.5 2.5.5h3.14c.75 0 1.36.61 1.36 1.36 0 1.82.34 3.56.97 5.14.19.5.08 1.07-.32 1.45l-2.2 2.2z" />
        </svg>
        <h3>Sună-ne pentru tine</h3>
        <a href="tel:+3736891440">+3736891440</a>
    </footer>
</body>

</html>