<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project/src/components/css/reset.css">
    <link rel="stylesheet" href="/project/src/components/css/main.css">
    <title>Mój-dom</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#" class="li-a"><img src="/project/src/assets/icons/logo.webp" alt=""></a></li>
                <li><a href="/project/src/components/app.html" class="a-li">Materiale</a></li>
                <li><a href="/project/src/components/main.html" class="a-li">Interior</a></li>
                <li><a href="/index.html" class="a-li">Despre companie</a></li>
            </ul>
        </nav>
    </header>
    <div class="new-construction-div">
        <div class="new-construction-title">cel mai bun interior</div>
        <a href="#" class="new-construction-button">Pentru dumneavoastră</a>
    </div>
    <div class="div-about-interior">
        <ul>
            <li>
                <p class="div-about-interior-img-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
                    quos laborum dicta quo ratione
                    temporibus! Voluptatum porro molestias distinctio veniam quos quibusdam? Iste error similique,
                    accusantium voluptatibus eos inventore hic?</p>
            </li>
            <li><img src="/project/src/assets/img/ремонт.webp" class="div-about-interior-img" alt=""></li>
            <li>
                <p class="div-about-interior-img-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
                    vel sit deleniti harum placeat?
                    Perferendis nostrum eveniet nam quidem nihil, quaerat earum aspernatur eius? Magnam ipsam velit
                    necessitatibus accusantium iusto!</p>
            </li>
        </ul>
    </div>
    <div class="div-ul">
        <ul>
            <li>
                <img src="/project/src/assets/img/покраска.webp" alt="Vopsirea pereților">
                <button class="div-ul-button">Alegerea vopselei</button>
                <p>Alegerea unei vopsele de calitate este baza unui rezultat reușit. În funcție de tipul încăperii, puteți opta pentru vopsea pe bază de apă, acrilică sau latex.</p>
            </li>
            <li>
                <img src="/project/src/assets/img/Підготовка.webp" alt="Vopsirea pereților">
                <button class="div-ul-button">Pregătirea suprafeței</button>
                <p>Înainte de vopsire, este important să curățați pereții de praf și de stratul vechi de vopsea. Folosiți un grund pentru o aderență mai bună a vopselei pe suprafață.</p>
            </li>
            <li>
                <img src="/project/src/assets/img/Валик.webp" alt="Vopsirea pereților">
                <button class="div-ul-button">Tehnica de aplicare</button>
                <p>Cel mai bine este să vopsiți pereții cu o rolă, aplicând vopseaua uniform de sus în jos. Nu uitați să folosiți o pensulă pentru colțuri și zone dificile.</p>
            </li>
            <li>
                <img src="/project/src/assets/img/Фінал.webp" alt="Vopsirea pereților">
                <button class="div-ul-button">Ultimele detalii</button>
                <p>După aplicarea celui de-al doilea strat de vopsea, lăsați pereții să se usuce bine. Verificați suprafața pentru eventualele defecte și corectați-le dacă este necesar.</p>
            </li>
        </ul>
    </div>
    
    <div class="div-img">
        <ul class="ul-img2">
            <li>
                <img src="/project/src/assets/img/ремонт.webp" class="ul-li2-img1" alt="">
            </li>
            <li>
                <img src="/project/src/assets/img/робота.webp" class="ul-li2-img2" alt="">
            </li>
        </ul>
        <ul class="ul-img1">
            <li><img src="/project/src/assets/img/покраска.webp" alt=""></li>
        </ul>
    </div>
    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
            <path
                d="M6.62 10.79a15.05 15.05 0 006.59 6.59l2.2-2.2a1.36 1.36 0 011.45-.32c1.58.63 3.32.97 5.14.97.75 0 1.36.61 1.36 1.36V21.5c0 .75-.61 1.36-1.36 1.36C10.65 22.86 1.14 13.35 1.14 1.86 1.14 1.11 1.75.5 2.5.5h3.14c.75 0 1.36.61 1.36 1.36 0 1.82.34 3.56.97 5.14.19.5.08 1.07-.32 1.45l-2.2 2.2z" />
        </svg>
        <h3>Sună-ne pentru tine</h3>
        <a href="tel:+3736891440">+3736891440</a>
    </footer>
    <script src="/project/src/components/js/app.js"></script>
</body>

</html>